.main {
    max-width: 1280px;
    padding: 40px 75px;
    font-family: 'Karla', sans-serif;
}

.quizz--form__label {
    color: var(--tx-blue);
    font-weight: 700;
    max-width: 768px;
}

.quizz--form__btn {
    color: var(--tx-blue);
    background-color: transparent;
    margin: 14.1px 6px 0 6px;
    padding: 3.6px 8px;
    border: 1px solid var(--tx-blue);
    border-radius: 8px;
    height: 20.65px;
    min-width: 66px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

.quizz--divider {
    background-color: #DBDEF0;
    height: 1px;
    margin: 15px 0;
    max-width: 700px;
}

@media only screen and (max-width: 539px) {
    .main {
        padding: 3rem;
    }    
}