:root {
  --bg-white: #F5F7FB;
  --tx-blue: #293264;
  --bg-blue: #4D5B9E;
  --bg-btnhover: #D6DBF5;
}

.main {
  max-width: 1280px;
  padding: 40px 75px;
  font-family: 'Karla', sans-serif;
  color: var(--tx-blue);
  margin: auto;
}

.main--category {
  padding: 2em 0 0 0;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

.quizz--form {
  color: var(--tx-blue);
  font-weight: 700;
  max-width: 768px;
  margin: auto;
}

.quizz--form__btn {
  display: inline-block;
  color: var(--tx-blue);
  background-color: transparent;
  margin: 14.1px 6px 0 6px;
  padding: 2px 8px;
  border: 1px solid var(--tx-blue);
  border-radius: 8px;
  height: 20.65px;
  min-width: 66px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

.quizz--form__btn:hover {
  background-color: var(--bg-btnhover);
}

.quizz--divider {
  background-color: #DBDEF0;
  height: 1px;
  margin: 15px auto;
  max-width: 700px;
}

.main--submit {
  display: flex;
  justify-content: space-evenly;
}

.main--btn__check {
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 12px;
  background-color: var(--bg-blue);
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.25;  
}

.main--btn__check:active,
.main--btn__check:focus  {
  border: none;
  outline: none;
}

.main--score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 1px solid var(--bg-blue);
  border-radius: 12px;
  color: var(--tx-blue);
  font-weight: 700;
}

.main--reset__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 1px solid var(--bg-blue);
  background-color: var(--bg-blue);
  border-radius: 12px;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (max-width: 539px) {
  .main {
      padding: 2rem;
  }    
}