* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html, body {
  background-color: var(--bg-white);
  background-image: url("./assets/blobs.svg"), url("./assets/blobs2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, 0% 100%;
  background-attachment: fixed;
  height: 100%;
}